@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

:root {
  --bs-body-font-family: 'ZCOOL XiaoWei', serif;
}

body {
  font-family: 'ZCOOL XiaoWei', serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'ZCOOL XiaoWei', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}